/* Adjust project container positioning */
.projectContainer {
  position: relative;
  overflow: visible;
  width: 350px;
  height: 350px;
  margin-bottom: 200px;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  top: 80px;
}

/* Individual project positions */
.project1 {
  margin-top: 200px;
  transform: translateX(20px) translateY(20px);
  z-index: 2;
}

.project2 {
  margin-top: 150px;
  transform: translateX(5px) translateY(-50px);
  z-index: 3;
}

.project3 {
  margin-top: 200px;
  transform: translateX(-10px) translateY(0px);
  z-index: 4;
}

.project4 {
  margin-top: 150px;
  transform: translateX(-20px) translateY(150px);
  z-index: 4;
}

.project5 {
  margin-top: 150px;
  transform: translateX(-30px) translateY(50px);
  z-index: 4;
}
.project6 {
  margin-top: 150px;
  transform: translateX(-40px) translateY(-50px);
  z-index: 4;
}
.project7 {
  margin-top: 150px;
  transform: translateX(-60px) translateY(50px);
  z-index: 4;
}

.link {
  display: block;
  position: relative;
  height: 350px;
  width: 350px;
  background-color: transparent;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* 時間を0.5秒に設定 */
}

.projectContainer:hover {
  z-index: 3;
}

.projectContainer:hover .imageWrapper {
  transform: scale(1.1);
}

.image {
  object-fit: cover;
  opacity: 0.8; /* Make images slightly transparent */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Add box shadow */
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.projectTitle,
.projectTool {
  position: absolute;
  width: 100%;
  color: white;
  z-index: 2;
  font-weight: bold;
  bottom: 0; /* 文字が常に表示されるように調整 */
  padding: 55px;
  font-size: 1rem;
  transition: none; /* トランジションを無効にして即時表示 */
}
.project1 .projectTitle {
  left: -90px;
  bottom: 10px;
  font-size: x-large;
}
.project1 .projectTool {
  left: -40px;
  bottom: -10px;
  font-size: large;
}

.project2 .projectTitle {
  left: -100px;
  bottom: 260px;
  font-size: x-large;
}
.project2 .projectTool {
  left: -70px;
  bottom: 240px;
}
.project3 .projectTitle {
  left: -90px;
  font-size: x-large;
}
.project3 .projectTool {
  left: -70px;
  bottom: -30px;
}
.project4 .projectTitle {
  left: -90px;
  bottom: -20px;
  font-size: x-large;
}
.project4 .projectTool {
  left: -70px;
  bottom: -40px;
  font-size: large;
}
.project5 .projectTitle {
  left: -110px;
  bottom: 240px;
  font-size: x-large;
}
.project5 .projectTool {
  left: -70px;
  bottom: 210px;
  font-size: large;
}
.project6 .projectTitle {
  left: -110px;
  bottom: 240px;
  font-size: x-large;
}
.project6 .projectTool {
  left: -70px;
  bottom: 210px;
  font-size: large;
}
.project7 .projectTitle {
  left: -140px;
  bottom: 0px;
  font-size: x-large;
}
.project7 .projectTool {
  left: -10px;
  bottom: -20px;
  font-size: large;
}
@media (min-width: 768px) {
  .projectTitle {
    font-size: 1.25rem;
  }

  .projectTool {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .projectContainer {
    width: 250px;
    height: 250px;
    margin-bottom: 80px;
  }

  .link {
    height: 250px;
    width: 250px;
  }

  .projectTitle {
    padding: 40px;
    font-size: 0.7rem;
    /* モバイル向けに位置を変更 */
    left: 10px;
    bottom: 20px;
  }

  .projectTool {
    font-size: 0.7rem;
    /* モバイル向けに位置を変更 */
    left: 10px;
    bottom: 50px;
  }

  /* 個別プロジェクトの位置を変更 */
  .project1 .projectTitle {
    left: -80px;
    bottom: 40px;
    font-size: large;
  }
  .project1 .projectTool {
    left: -70px;
    font-size: large;
  }

  .project2 .projectTitle {
    left: -80px;
    bottom: 180px;
    font-size: large;
  }
  .project2 .projectTool {
    left: -70px;
    bottom: 140px;
    font-size: large;
  }

  .project3 .projectTitle {
    left: -100px;
    bottom: 10px;
    font-size: large;
  }
  .project3 .projectTool {
    left: -70px;
    bottom: -30px;
    font-size: large;
  }
  .project4 .projectTitle {
    left: -80px;
    bottom: 10px;
    font-size: large;
  }
  .project4 .projectTool {
    left: -70px;
    bottom: -30px;
    font-size: large;
  }
  .project5 .projectTitle {
    left: -80px;
    bottom: 170px;
    font-size: large;
  }
  .project5 .projectTool {
    left: -70px;
    bottom: 130px;
    font-size: large;
  }
  .project6 .projectTitle {
    left: -80px;
    bottom: 170px;
    font-size: large;
  }
  .project6 .projectTool {
    left: -70px;
    bottom: 130px;
    font-size: large;
  }
  .project7 .projectTitle {
    left: -90px;
    bottom: 20px;
    font-size: large;
  }
  .project7 .projectTool {
    left: -80px;
    bottom: -20px;
    font-size: large;
  }

  /* 他のプロジェクトについても同様に調整可能 */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
  transform: scale(1);
}

.link:hover .image {
  transform: scale(1);
}

.link:hover {
  cursor: url("/images/plus.png"), auto;
}

.horizontalScroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  padding-bottom: 150px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.horizontalScroll::-webkit-scrollbar {
  display: none;
}

.progressBar {
  position: fixed;
  top: 90%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: #393737;
  z-index: 1000;
  border-radius: 10px;
}

.progressBarFill {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  transition: width 0.1s ease-out;
}

.custom-projects-bg {
  background-color: black;
  min-height: 100vh;
  overflow-y: hidden;
}

.custom-projects-bg .horizontalScroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
