@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; /* 例としてフォントを設定 */
}

.TextTyping {
  text-align: left;
  font-size: 1.5rem; /* フォントサイズを調整 */
}

.TextTyping .Cursor {
  animation: blink 0.8s step-end infinite;
}
/* Hero */
@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
}

/* 以下layout.css */
/* スライドインアニメーション */
/* スライドインアニメーション */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-slide-in {
  animation: slide-in 1s ease-out forwards;
}

.github-icon:hover {
  transform: translateY(-5px); /* 少し上に動かす */
  transition: transform 0.3s ease-in-out; /* アニメーションを追加 */
}

.linkedin-icon:hover {
  transform: translateY(-5px); /* 少し上に動かす */
  transition: transform 0.3s ease-in-out; /* アニメーションを追加 */
}

.instagram-icon:hover {
  transform: translateY(-5px); /* 少し上に動かす */
  transition: transform 0.3s ease-in-out; /* アニメーションを追加 */
}
