.projectContainer {
  position: relative;
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  align-items: center; /* 中央揃え */
  overflow: visible;
  width: 350px;
  margin-bottom: 200px;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  top: 80px;
}

.projectContainer:hover {
  transform: scale(1.05); /* スケールのみ変更、位置はそのまま */
  transition: transform 0.3s ease-in-out;
}

/* 個々のプロジェクトの位置 */
.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7 {
  margin: 20px;
  margin-top: 140px;
}

.link {
  display: block;
  position: relative;
  height: 350px;
  width: 350px;
  background-color: transparent;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.projectContainer:hover {
  z-index: 3;
}

.projectContainer:hover .imageWrapper {
  transform: scale(1.1);
}

.image {
  object-fit: cover;
  opacity: 0.8; /* 画像を少し透明にする */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* ボックスシャドウを追加 */
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectTitle,
.projectTool {
  display: block;
  text-align: center;
  color: white;
  z-index: 2;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 400px; /* 画像の下にスペースを追加 */
  font-size: 1rem;
  transition: none;
}

.projectTool {
  margin-top: 5px; /* タイトルとツールの間に最小限の余白を追加 */
}

@media (min-width: 768px) {
  .projectTitle {
    font-size: 1.25rem;
  }

  .projectTool {
    font-size: 1rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
  transform: scale(1);
}

.link:hover .image {
  transform: scale(1);
}

.link:hover {
  cursor: url("/images/plus.png"), auto;
}

.horizontalScroll {
  height: 100vh; /* ビューポートの高さに固定 */
  overflow-x: scroll;
  overflow-y: hidden; /* 縦スクロールを無効に */
  display: flex;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.horizontalScroll::-webkit-scrollbar {
  display: none;
}

.progressBar {
  position: fixed;
  top: 90%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: #393737;
  z-index: 1000;
  border-radius: 10px;
}

.progressBarFill {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  transition: width 0.1s ease-out;
}

.overflow-y-hidden-important {
  overflow-y: hidden !important;
}

.root-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* 全体のスクロールを無効に */
}
@media (max-width: 767px) {
  .projectContainer {
    width: 220px; /* プロジェクトコンテナの幅を小さく */
    height: 220px; /* プロジェクトコンテナの高さを小さく */
    margin-bottom: 10px;
  }

  .link {
    height: 200px; /* リンクコンテナの高さを小さく */
    width: 200px; /* リンクコンテナの幅を小さく */
  }

  .imageWrapper {
    width: 100%;
    height: 100%;
  }

  .image {
    object-fit: cover;
    width: 100%; /* 画像の幅を100%に設定 */
    height: 100%; /* 画像の高さを100%に設定 */
  }

  .projectTitle,
  .projectTool {
    font-size: 0.9rem; /* 文字サイズを調整 */
    padding: 10px; /* パディングを調整 */
    margin-top: 210px; /* 上部に少しの余白を設定 */
  }

  .projectTool {
    margin-top: 3px; /* タイトルとツールの間に余白を設定 */
  }
}
